@page "/admin"

<PageTitle>Pub - Admin Panel</PageTitle>


<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <article class="content px-4">
            <h1>Admin Controls Loading Please Wait...</h1>
        </article>
    </main>
</div>

<div id="blazor-error-ui" data-nosnippet>
	An unhandled error has occurred.
	<a href="." class="reload">Reload</a>
	<span class="dismiss">🗙</span>
</div>